html[data-theme="light"] pre code.hljs{display:block;overflow-x:auto;padding:1em}
html[data-theme="light"] code.hljs{padding:3px 5px}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
html[data-theme="light"] .hljs{color:#24292e;background:#f7f7f7}
html[data-theme="light"] .hljs-doctag,
html[data-theme="light"] .hljs-keyword,
html[data-theme="light"] .hljs-meta .hljs-keyword,
html[data-theme="light"] .hljs-template-tag,
html[data-theme="light"] .hljs-template-variable,
html[data-theme="light"] .hljs-type,
html[data-theme="light"] .hljs-variable.language_{color:#d73a49}
html[data-theme="light"] .hljs-title,
html[data-theme="light"] .hljs-title.class_,
html[data-theme="light"] .hljs-title.class_.inherited__,
html[data-theme="light"] .hljs-title.function_{color:#6f42c1}
html[data-theme="light"] .hljs-attr,
html[data-theme="light"] .hljs-attribute,
html[data-theme="light"] .hljs-literal,
html[data-theme="light"] .hljs-meta,
html[data-theme="light"] .hljs-number,
html[data-theme="light"] .hljs-operator,
html[data-theme="light"] .hljs-selector-attr,
html[data-theme="light"] .hljs-selector-class,
html[data-theme="light"] .hljs-selector-id,
html[data-theme="light"] .hljs-variable{color:#005cc5}
html[data-theme="light"] .hljs-meta .hljs-string,
html[data-theme="light"] .hljs-regexp,
html[data-theme="light"] .hljs-string{color:#032f62}
html[data-theme="light"] .hljs-built_in,
html[data-theme="light"] .hljs-symbol{color:#e36209}
html[data-theme="light"] .hljs-code,
html[data-theme="light"] .hljs-comment,
html[data-theme="light"] .hljs-formula{color:#6a737d}
html[data-theme="light"] .hljs-name,
html[data-theme="light"] .hljs-quote,
html[data-theme="light"] .hljs-selector-pseudo,
html[data-theme="light"] .hljs-selector-tag{color:#22863a}
html[data-theme="light"] .hljs-subst{color:#24292e}
html[data-theme="light"] .hljs-section{color:#005cc5;font-weight:700}
html[data-theme="light"] .hljs-bullet{color:#735c0f}
html[data-theme="light"] .hljs-emphasis{color:#24292e;font-style:italic}
html[data-theme="light"] .hljs-strong{color:#24292e;font-weight:700}
html[data-theme="light"] .hljs-addition{color:#22863a;background-color:#f0fff4}
html[data-theme="light"] .hljs-deletion{color:#b31d28;background-color:#ffeef0}
