html[data-theme="dark"] pre code.hljs{display:block;overflow-x:auto;padding:1em}
html[data-theme="dark"] code.hljs{padding:3px 5px}
/*!
  Theme: GitHub Dark Dimmed
  Description: Dark dimmed theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Colors taken from GitHub's CSS
*/
html[data-theme="dark"] .hljs{color:#adbac7;background:#22272e}
html[data-theme="dark"] .hljs-doctag,
html[data-theme="dark"] .hljs-keyword,
html[data-theme="dark"] .hljs-meta .hljs-keyword,
html[data-theme="dark"] .hljs-template-tag,
html[data-theme="dark"] .hljs-template-variable,
html[data-theme="dark"] .hljs-type,
html[data-theme="dark"] .hljs-variable.language_{color:#f47067}
html[data-theme="dark"] .hljs-title,
html[data-theme="dark"] .hljs-title.class_,
html[data-theme="dark"] .hljs-title.class_.inherited__,
html[data-theme="dark"] .hljs-title.function_{color:#dcbdfb}
html[data-theme="dark"] .hljs-attr,
html[data-theme="dark"] .hljs-attribute,
html[data-theme="dark"] .hljs-literal,
html[data-theme="dark"] .hljs-meta,
html[data-theme="dark"] .hljs-number,
html[data-theme="dark"] .hljs-operator,
html[data-theme="dark"] .hljs-selector-attr,
html[data-theme="dark"] .hljs-selector-class,
html[data-theme="dark"] .hljs-selector-id,
html[data-theme="dark"] .hljs-variable{color:#6cb6ff}
html[data-theme="dark"] .hljs-meta .hljs-string,
html[data-theme="dark"] .hljs-regexp,
html[data-theme="dark"] .hljs-string{color:#96d0ff}
html[data-theme="dark"] .hljs-built_in,
html[data-theme="dark"] .hljs-symbol{color:#f69d50}
html[data-theme="dark"] .hljs-code,
html[data-theme="dark"] .hljs-comment,
html[data-theme="dark"] .hljs-formula{color:#768390}
html[data-theme="dark"] .hljs-name,
html[data-theme="dark"] .hljs-quote,
html[data-theme="dark"] .hljs-selector-pseudo,
html[data-theme="dark"] .hljs-selector-tag{color:#8ddb8c}
html[data-theme="dark"] .hljs-subst{color:#adbac7}
html[data-theme="dark"] .hljs-section{color:#316dca;font-weight:700}
html[data-theme="dark"] .hljs-bullet{color:#eac55f}
html[data-theme="dark"] .hljs-emphasis{color:#adbac7;font-style:italic}
html[data-theme="dark"] .hljs-strong{color:#adbac7;font-weight:700}
html[data-theme="dark"] .hljs-addition{color:#b4f1b4;background-color:#1b4721}
html[data-theme="dark"] .hljs-deletion{color:#ffd8d3;background-color:#78191b}
