@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-800 bg-white dark:bg-gray-900 dark:text-slate-100;
  }
}

@layer components {
    .prose code {
        @apply bg-slate-100 dark:bg-gray-800 px-1.5 py-0.5 rounded text-sm text-pink-500 font-mono font-medium;
    }
    
    /* Custom Scrollbar for TOC */
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-gray-200 dark:bg-gray-700 rounded;
    }
}
